#banner_image
{
    
padding-top: 5%;
padding-bottom: 50px;
margin-top: 20px 20px;  


 }
.text_image{
font-size:30px;
 color: red; 
font-family: 'Bungee Shade'
}
@media screen and (max-width: 600px) {
  .text_image {
 padding-top: 40px;
 
  }

}
